* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  background-color: papayawhip;
  font-size: 15px;
}

.row2{
  padding: 20px;
}

#col1{
  width: 30%;
}

#col2{
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center{
    text-align: center;
}

#form{
  padding-bottom: 30px;
  padding-top: 30px;
}

button{
  width: 80px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}